{% extends "base.html" %}

{% block title %}
  <h1 style="text-align:center">Ginger.io Software Engineer Intern Test Project</h1>
  <h2 style="text-align:center">Markan Patel</h2>
{% endblock %}

{% block vendorContent %}
  <br>
  <br>

  <div style="text-align:center">
    <a href="/lunch">Vendor leaderboard</a>
  </div>

  <br>

  <div style="text-align:center">
    <a href="https://www.hipchat.com/gg6xjAniq">5th & Minna Wednesday/Friday HipChat room</a>
  </div>

  <br>

  <div style="text-align:center">
    <a href="https://github.com/cooltoast/OffThaGrid">Source code</a>
  </div>
{% endblock %}
