{% extends "base.html" %}


{% block title %} <h1 style="text-align:center">Click "Name" or "Events Attended" to sort vendors.</h1> {% endblock %}

{% block vendorContent %}
  {% if vendors %}
    <table id="myTable" class="tablesorter center">
      <thead>
      <tr>
          <th style='text-align:left'><a href='#'>Name</a></th>
          <th><a href='#'>Events Attended</a></th>
      </tr>
      </thead>
      <tbody>
      {% for vendor in vendors %}
        <tr>
            <td><a href="{% url 'vendor' vendor.id %}">{{ vendor.name }}</a></td>
            <td>{{vendor.attended}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  {% else %}
      <p>No vendors are available at this time.</p>
  {% endif %}
{% endblock %}

<script>
  $(document).ready(function() {
    $("#myTable").tablesorter();
  });
</script>
